<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
    
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item..." required >
            <button type="submit">Add Item</button>
        </form>

        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>


</body>
</html>